name: Build and Push to Docker Hub

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-push-amd64-arm64:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            martinack/stockpile-backend:${{ github.ref_name }}
            martinack/stockpile-backend:latest

      - name: Build and push web
        uses: docker/build-push-action@v5
        with:
          context: ./web
          file: ./web/Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            martinack/stockpile-web:${{ github.ref_name }}
            martinack/stockpile-web:latest

  build-and-push-armv7:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/arm/v7

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend ARM/v7
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/arm/v7
          push: true
          provenance: false
          cache-from: type=registry,ref=martinack/stockpile-backend:buildcache-armv7
          cache-to: type=registry,ref=martinack/stockpile-backend:buildcache-armv7,mode=max
          tags: |
            martinack/stockpile-backend:${{ github.ref_name }}
            martinack/stockpile-backend:latest